


* {
    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(253, 243, 230);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgb(252, 237, 215);
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0, 0 ,0, 0.05);
}

button {
    margin: 25px;
    cursor: pointer;
}

.top {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 50px;
    background-color: rgb(252, 237, 215);
}

h2 {
    background-color: #f3f3f3;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.7em;
    letter-spacing: .3rem;
}

h2 span {
    font-size: 0.4em;
    font-weight: 300;
}

.group {
    position: relative;
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: 2fr 3fr;
    margin-top: 20px;
}

.group .imgbx {
    position:relative;
    width: 82%;
}

.group .imgbx img {
    width: 100%;
}

.group p {
    font-size: 1.05rem;
}

.bottom {
    position: relative;
    display: grid;
    margin: 50px 50px 0;
    gap: 40px;
    grid-template-columns: 2fr 3fr;
}

.bottom .left-side {
    margin-top: 50px;
}

h4 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: #000;
    background: #f3f3f3;
    font-weight: 600;
    padding: 0px 15px;
    margin-top: 40px;
    display: inline-flex;
}

.Contactinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0
}

.Contactinfo li {
    list-style: none;
    display: flex;
    gap: 10px;
}

.Contactinfo li .icon {
    color: #161618;
}

.Contactinfo li .text {
    color: #161618;
}

.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0
}

.skills li {
    list-style: none;
    display: flex;
    gap: 10px;
}

.skills li .icon {
    color: #161618;
}

.skills li .text {
    color: #161618;
}

.margin {
    margin-top: -10px;
}

.educ {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.educbx {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-size: 20px;
}

.educbx p {
    font-weight: 500;
}

.educbx b {
    font-weight: 600;
    font-size: 20px;
    color: #161618;
    padding-right: 10px;
}

.exp {
    padding-top: 35px;
    position: relative;
    display: grid;
    grid-template-columns: 0 3fr 3fr 1.5fr;
    font-size: 20px;
}
.exp p {
    font-weight: 500;
}

.exp b {
    font-weight: 600;
    font-size: 20px;
    color: #161618;
    margin-bottom: 10px;
}

a:link {
    text-decoration: none;
    color: #555;
}

.hobbies {
    padding: 0 50px 50px;
}

.hobbies ul {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;
}

.hobbies ul li {
    list-style: none;
    color: 333;
    width: calc(100% / 5);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.hobbies ul li i {
    color: #161618;
    font-size: 5rem;
    box-shadow: 0 35px 55px rgba(0, 0 ,0, 0.05);
}

